.top-navigation {
    background: url(../images/h-bg.png) no-repeat center center/cover;
    padding: 10px 0 16px;

    .date-link {
        a {
            color: #8ea8c0;
            font-size: 12px;
            margin: 0 10px;
            transition: all 0.2s;

            @media (max-width:767px) {
                margin: 0 5px;
            }

            &:hover {
                color: #ffffff;
            }
        }

        .f-icon {
            font-size: 14px;
            color: #ffffff;
        }
    }

    .navbar-brand {
        max-width: 340px;

        @media (max-width:767px) {
            max-width: 200px;
        }
    }

    button {
        font-weight: bold;
        font-size: 12px;
        color: #ffffff;
        background: none;
        text-align: center;
        border: none;
        text-transform: uppercase;
        margin: 0 10px;

        @media(max-width:767px) {
            font-size: 10px;
            margin: 0 5px;
        }

        &:hover {
            color: #8ea8c0;
        }
    }
}

.bottom-navigation {
    padding-top: 10px;

    @media(max-width:991px) {
        overflow-x: scroll;

        // scroll bar design
        /* width */
        &::-webkit-scrollbar {
            height: 0px;
            width: 10px;
        }
    }

    .link-wrapper {
        @media(max-width:991px) {
            width: 800px;
        }
    }

    .nav-link {
        border-bottom: 2px solid #00000000;
        font-family: "helvetica-regular";
        text-transform: uppercase;
        padding-inline: 15px;
        padding-bottom: 5px;
        white-space: nowrap;
        color: #010133;
        font-size: 16px;
        margin: 0 30px;


        &.active {
            color: #082585;
            border-bottom: 2px solid #54575498;
        }

        &:hover {
            color: #274299;
        }

        @media(min-width:1200px) {
            display: inline-block;
        }

        @media(max-width:1199px) {
            font-size: 14px;
            margin: 0 20px;
        }

        @media(max-width:991px) {
            margin: 0 15px;
        }
    }
}

.side-nav {
    .navbar-brand {
        max-width: 200px;
    }

    .main-nav {
        .nav-link {
            font-family: "Inter", sans-serif;
            color: #333;
            padding: 0.5rem 0px;
            font-weight: 600;

            @media (max-width: 1399px) {
                font-size: 14px;
            }

            &.active,
            &:hover {
                color: #b90000;
            }
        }
    }


    .copyright {
        font-family: "Inter", sans-serif;
        text-align: center;
        font-weight: 500;
        font-size: 14px;
        color: #555;
    }
}