.pagin-wrapper {
    padding: 20px 0;
    margin: auto;

    @media (min-width:1200px) {
        max-width: 80%;
    }

    .nav-btn {
        border: none;
        background: none;
        font-family: 'Inter', sans-serif;
        font-weight: 600;
        font-size: 16px;
        color: #333333;
    }

    .page-nums {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 30px;

        @media (min-width:1200px) {
            padding: 0 50px;
        }

        .page-num {
            border-bottom: 4px solid #c9d1d900;
            font-family: "helvetica-bold";
            font-size: 13px;
            padding: 0 5px;
            color: #333333;

            &.active {
                border-bottom: 4px solid #c9d1d9;
            }

            &:hover {
                border-bottom: 4px solid #c9d1d9;
            }
        }
    }
}

.content-wrapper {
    @media(min-width: 992px) {
        display: flex;

        .left-content {
            width: calc(100% - 305px);
            padding-right: 16px;
            margin-right: 16px;
            border-right: 1px solid #f1f1f1;
        }

        .sidebar {
            width: 305px;
        }
    }
}

.fou-border {
    .news-link {
        height: 100%;
        padding-bottom: 40px;

        &.b-bottom {
            border-bottom: 1px solid #f1f1f1;
        }
    }
}